<reserved_header_section
	templateID="755"
	templateFile="costiInterni.html"
	templateDescription="HTML content template (Economics)"
></reserved_header_section>

<!-- *** HEADER *** -->
<widget_pageHeader />

<div class="container-fluid pageBody">

	<!-- *** SEZIONE "NASCOSTI" *** -->
	<div class="card card-info hidden-context">
		<div class="card-title" ref="Nascosti">
			<a href="#btn" data-toggle="collapse" data-target="#Nascosti" aria-expanded="false">
				<i class="fa fa-times-circle ico-error"></i>
				<i class="fa fa-exclamation-circle ico-warning"></i>
				<span class="text">
					<i class="fa fa-puzzle-piece margin-r-5"></i>
					Valori nascosti
				</span>
				<span class="ico">
					<i class="fa fa-chevron-right ico-close"></i>
					<i class="fa fa-chevron-down ico-open"></i>
				</span>
			</a>
		</div>
		<div id="Nascosti" class="collapse box_Lev_1">
			<div class="card-body">

				<div id="hiddenData" class="margin-v-10 box_Lev_2">
					<div dsheader></div>

					<h4 class="subsection">CostiMarketing_PercIva</h4>
					<div class="row" dstable
						data-method="3"
						data-name="CostiMarketing_PercIva"
						data-child="PercIva"
						data-parent="CostiMarketing"
						data-type="input"
					></div>

					<h4 class="subsection">CostiComunicazione_PercIva</h4>
					<div class="row" dstable
						data-method="3"
						data-name="CostiComunicazione_PercIva"
						data-child="PercIva"
						data-parent="CostiComunicazione"
						data-type="input"
					></div>

					<h4 class="subsection">CostiStruttura_PercIva</h4>
					<div class="row" dstable
						data-method="3"
						data-name="CostiStruttura_PercIva"
						data-child="PercIva"
						data-parent="CostiStruttura"
						data-type="input"
					></div>

					<h4 class="subsection">CostiInfrastrutture_PercIva</h4>
					<div class="row" dstable
						data-method="3"
						data-name="CostiInfrastrutture_PercIva"
						data-child="PercIva"
						data-parent="CostiInfrastrutture"
						data-type="input"
					></div>

					<h4 class="subsection">CostiAmministrativi_PercIva</h4>
					<div class="row" dstable
						data-method="3"
						data-name="CostiAmministrativi_PercIva"
						data-child="PercIva"
						data-parent="CostiAmministrativi"
						data-type="input"
					></div>

					<h4 class="subsection">CostiAltri_PercIva</h4>
					<div class="row" dstable
						data-method="3"
						data-name="CostiAltri_PercIva"
						data-child="PercIva"
						data-parent="CostiAltri"
						data-type="input"
					></div>

				</div>
			</div>
		</div>
	</div>


	<!-- *** SEZIONE INPUT *** -->
	<div class="card card-info input-context">
		<div class="card-title" ref="Inseriti">
			<a href="#btn" data-toggle="collapse" data-target="#Inseriti" aria-expanded="true">
				<i class="fa fa-times-circle ico-error"></i>
				<i class="fa fa-exclamation-circle ico-warning"></i>
				<span class="text">
					<i class="fa fa-pencil-alt margin-r-5"></i>
					Dati da inserire
				</span>
				<span class="ico">
					<i class="fa fa-chevron-right ico-close"></i>
					<i class="fa fa-chevron-down ico-open"></i>
				</span>
			</a>
		</div>
		<div id="Inseriti" class="collapse box_Lev_1 show">
			<div class="card-body">

				<widget_drawerTitle data-pars="title:='CostiMarketing_title' || mode:= 'edit' || ref:='Inseriti_1' || fillerBtn:='true'" />
				<div id="Inseriti_1" class="collapse clearfix margin-v-10 box_Lev_2">
					<div dsheader></div>
					<div class="row" dstable
						data-method="3"
						data-name="CostiMarketing_CostoNetto"
						data-child="CostoNetto"
						data-parent="CostiMarketing"
						data-type="input"
						data-total="rows"
					></div>
				</div>

				<widget_drawerTitle data-pars="title:='CostiComunicazione_title' || mode:= 'edit' || ref:='Inseriti_3' || fillerBtn:='true'" />
				<div id="Inseriti_3" class="collapse clearfix margin-v-10 box_Lev_2">
					<div dsheader></div>
					<div class="row" dstable
						data-method="3"
						data-name="CostiComunicazione_CostoNetto"
						data-child="CostoNetto"
						data-parent="CostiComunicazione"
						data-type="input"
						data-total="rows"
					></div>
				</div>

				<widget_drawerTitle data-pars="title:='CostiStruttura_title' || mode:= 'edit' || ref:='Inseriti_4' || fillerBtn:='true'" />
				<div id="Inseriti_4" class="collapse clearfix margin-v-10 box_Lev_2">
					<div dsheader></div>
					<div class="row" dstable
						data-method="3"
						data-name="CostiStruttura_CostoNetto"
						data-child="CostoNetto"
						data-parent="CostiStruttura"
						data-type="input"
						data-total="rows"
					></div>
				</div>

				<widget_drawerTitle data-pars="title:='CostiInfrastrutture_title' || mode:= 'edit' || ref:='Inseriti_2' || fillerBtn:='true'" />
				<div id="Inseriti_2" class="collapse clearfix margin-v-10 box_Lev_2">
					<div dsheader></div>
					<div class="row" dstable
						data-method="3"
						data-name="CostiInfrastrutture_CostoNetto"
						data-child="CostoNetto"
						data-parent="CostiInfrastrutture"
						data-type="input"
						data-total="rows"
					></div>
				</div>

				<widget_drawerTitle data-pars="title:='CostiAmministrativi_title' || mode:= 'edit' || ref:='Inseriti_5' || fillerBtn:='true'" />
				<div id="Inseriti_5" class="collapse clearfix margin-v-10 box_Lev_2">
					<div dsheader></div>
					<div class="row" dstable
						data-method="3"
						data-name="CostiAmministrativi_CostoNetto"
						data-child="CostoNetto"
						data-parent="CostiAmministrativi"
						data-type="input"
						data-total="rows"
					></div>
				</div>

				<widget_drawerTitle data-pars="title:='CostiAltri_title' || mode:= 'edit' || ref:='Inseriti_6' || fillerBtn:='true'" />
				<div id="Inseriti_6" class="collapse clearfix margin-v-10 box_Lev_2">
					<div dsheader></div>
					<div class="row" dstable
						data-method="3"
						data-name="CostiAltri_CostoNetto"
						data-child="CostoNetto"
						data-parent="CostiAltri"
						data-type="input"
						data-total="rows"
					></div>
				</div>

			</div>
		</div>
	</div>


	<!-- *** SEZIONE CALCOLATI *** -->
	<div class="card card-info formula-context">
		<div class="card-title" ref="Calcolati">
			<a href="#btn" data-toggle="collapse" data-target="#Calcolati" aria-expanded="false">
				<i class="fa fa-times-circle ico-error"></i>
				<i class="fa fa-exclamation-circle ico-warning"></i>
				<span class="text">
					<i class="fa fa-cogs margin-r-5"></i>
					Valori calcolati
				</span>
				<span class="ico">
					<i class="fa fa-chevron-right ico-close"></i>
					<i class="fa fa-chevron-down ico-open"></i>
				</span>
			</a>
		</div>
		<div id="Calcolati" class="collapse box_Lev_1">
			<div class="card-body">


				<widget_drawerTitle data-pars="title:='DettaglioCostiLordi_title' || mode:= 'calc' || ref:='Calcolati_1'" />
				<div id="Calcolati_1" class="collapse clearfix margin-v-10 box_Lev_2">
					<div dsheader></div>

					<h4 class="subsection margin-t-0">
						<snp_XML_label_economics data-pars="value:='CostiMarketing_title'" class="title" />
					</h4>
					<div class="row" dstable
						data-method="8"
						data-name="CostiMarketing_Iva"
						data-type="formula"
						data-formula="[CostiMarketing_CostoNetto] * [CostiMarketing_PercIva] / 100"
						data-total="rows"
					></div>
					<div class="row" dstable
						data-method="7"
						data-name="CostiMarketing_TotaleMensile"
						data-type="formula"
						data-formula="[CostiMarketing_CostoNetto] + [CostiMarketing_Iva]"
						data-total="rows"
					></div>

					<h4 class="subsection margin-t-0">
						<snp_XML_label_economics data-pars="value:='CostiComunicazione_title'" class="title" />
					</h4>
					<div class="row" dstable
						data-method="8"
						data-name="CostiComunicazione_Iva"
						data-type="formula"
						data-formula="[CostiComunicazione_CostoNetto] * [CostiComunicazione_PercIva] / 100"
						data-total="rows"
					></div>
					<div class="row" dstable
						data-method="7"
						data-name="CostiComunicazione_TotaleMensile"
						data-type="formula"
						data-formula="[CostiComunicazione_CostoNetto] + [CostiComunicazione_Iva]"
						data-total="rows"
					></div>

					<h4 class="subsection margin-t-0">
						<snp_XML_label_economics data-pars="value:='CostiStruttura_title'" class="title" />
					</h4>
					<div class="row" dstable
						data-method="8"
						data-name="CostiStruttura_Iva"
						data-type="formula"
						data-formula="[CostiStruttura_CostoNetto] * [CostiStruttura_PercIva] / 100"
						data-total="rows"
					></div>
					<div class="row" dstable
						data-method="7"
						data-name="CostiStruttura_TotaleMensile"
						data-type="formula"
						data-formula="[CostiStruttura_CostoNetto] + [CostiStruttura_Iva]"
						data-total="rows"
					></div>

					<h4 class="subsection margin-t-0">
						<snp_XML_label_economics data-pars="value:='CostiInfrastrutture_title'" class="title" />
					</h4>
					<div class="row" dstable
						data-method="8"
						data-name="CostiInfrastrutture_Iva"
						data-type="formula"
						data-formula="[CostiInfrastrutture_CostoNetto] * [CostiInfrastrutture_PercIva] / 100"
						data-total="rows"
					></div>
					<div class="row" dstable
						data-method="7"
						data-name="CostiInfrastrutture_TotaleMensile"
						data-type="formula"
						data-formula="[CostiInfrastrutture_CostoNetto] + [CostiInfrastrutture_Iva]"
						data-total="rows"
					></div>

					<h4 class="subsection margin-t-0">
						<snp_XML_label_economics data-pars="value:='CostiAmministrativi_title'" class="title" />
					</h4>
					<div class="row" dstable
						data-method="8"
						data-name="CostiAmministrativi_Iva"
						data-type="formula"
						data-formula="[CostiAmministrativi_CostoNetto] * [CostiAmministrativi_PercIva] / 100"
						data-total="rows"
					></div>
					<div class="row" dstable
						data-method="7"
						data-name="CostiAmministrativi_TotaleMensile"
						data-type="formula"
						data-formula="[CostiAmministrativi_CostoNetto] + [CostiAmministrativi_Iva]"
						data-total="rows"
					></div>

					<h4 class="subsection margin-t-0">
						<snp_XML_label_economics data-pars="value:='CostiAltri_title'" class="title" />
					</h4>
					<div class="row" dstable
						data-method="8"
						data-name="CostiAltri_Iva"
						data-type="formula"
						data-formula="[CostiAltri_CostoNetto] * [CostiAltri_PercIva] / 100"
						data-total="rows"
					></div>
					<div class="row" dstable
						data-method="7"
						data-name="CostiAltri_TotaleMensile"
						data-type="formula"
						data-formula="[CostiAltri_CostoNetto] + [CostiAltri_Iva]"
						data-total="rows"
					></div>

				</div>

				<widget_drawerTitle data-pars="title:='TotaleCosti_title' || mode:= 'calc' || ref:='Calcolati_2' || expand:='true'" />
				<div id="Calcolati_2" class="collapse clearfix margin-v-10 box_Lev_2 show">
					<div dsheader></div>
					<div class="row" dstable
						data-method="7"
						data-name="TotaleNetti"
						data-type="formula"
						data-formula="[CostiMarketing_CostoNetto] + [CostiComunicazione_CostoNetto] + [CostiStruttura_CostoNetto] + [CostiInfrastrutture_CostoNetto] + [CostiAmministrativi_CostoNetto] + [CostiAltri_CostoNetto]"
						data-total="rows"
					></div>

					<div class="row" dstable
						data-method="8"
						data-name="CostiLordi_Iva"
						data-type="formula"
						data-formula="[CostiMarketing_Iva] + [CostiInfrastrutture_Iva] + [CostiComunicazione_Iva] + [CostiStruttura_Iva] + [CostiAmministrativi_Iva] + [CostiAltri_Iva]"
						data-total="rows"
					></div>
					<div class="row" dstable
						data-method="7"
						data-name="CostiLordi_Totale"
						data-type="formula"
						data-formula="[CostiMarketing_TotaleMensile] + [CostiInfrastrutture_TotaleMensile] + [CostiComunicazione_TotaleMensile] + [CostiStruttura_TotaleMensile] + [CostiAmministrativi_TotaleMensile] + [CostiAltri_TotaleMensile]"
						data-total="rows"
					></div>

				</div>

			</div>
		</div>
	</div>

	<!-- *** CONSOLE *** -->
	<widget_btnConsole />

</div>
