<reserved_header_section
	templateID="1510"
	templateFile="configuration.dboard.html"
	templateDescription="HTML dashboard template for home pages"
></reserved_header_section>

<div class="container-fluid" style="background: #c0cfdb;">

	<div class="padding-h-0 padding-v-5">
		<div class="row">
			<div class="col">
				<div id="infoUser" class="float-left">
					<a href="#menu" id="mainMenu" class="btn-menu margin-r-10" ref="" status="open">
						<span class="openIcons" title="Riduci Menu">
							<i class="fa fa-arrow-left"></i>
							<i class="fa fa-bars"></i>
						</span>
						<span class="closeIcons hide" title="Espandi Menu">
							<i class="fa fa-bars"></i>
							<i class="fa fa-arrow-right"></i>
						</span>
					</a>
					Business plan:
					<label id="bpName" class="mainLabel"></label>
					<label id="isExpired" class="hide">
						&raquo; Sola lettura &laquo;
					</label>
				</div>
				<div id="infoBP" class="float-right">
					Durata (anni):
					<label id="bpYears" class="mainLabel"></label>
					<span class="hide" id="bpInitialYear"></span>
					<span class="separe">|</span>
					Tipologia: 
					<label id="bpTipology" class="mainLabel"></label>
					<span class="hide" id="bpTipologyCode"></span>
				</div>
				<div class="textCenter">
					<span id="logoODC" class="hide">
						<img src="/private/resources/images/logo-opendotcom.png" height=20px" class="padding-r-10">
					</span>
					<span id="logoYeap" class="hide">
						<img src="/private/resources/images/logo_yeap.png" height=40px" class="padding-l-5">
					</span>
				</div>
			
			</div>
		</div>
	</div>
</div>