.clear {
  clear: both;
}
.clearRight {
  clear: right;
}
widget_pageheader {
  height: 50px;
  background: #eeeeee;
  display: block;
  margin-bottom: -70px;
  content: "xxx";
}
h5.pageTitle {
  color: #999999;
  margin: 0 50px;
}
h2.pageTitle {
  padding: 0 20px 5px;
  margin: 0 30px 10px;
  color: #037ac5;
  border-bottom: 1px solid #aaaaaa;
}
h2.pageTitle .infoLnk {
  color: #037ac5;
  font-size: 120%;
  padding-left: 5px;
}
.pageTitle .changePage {
  display: inline-block;
  height: 28px;
  width: 28px;
  background: #4fa2d6;
  color: #fff;
  border-radius: 50%;
  line-height: 30px;
  font-size: 16px;
  position: relative;
  top: -3px;
}
.pageTitle a.changePage:hover {
  background: #037ac5;
}
.pageTitle span.changePage {
  background: #ccc;
}
.btn-group-arrow {
  margin: 5px 30px 0;
  background: #eeeeee;
  padding: 5px 8px;
}
.btn-group-arrow .btn {
  font-variant: small-caps;
  font-size: 13px !important;
  margin: 0 1px 0 0;
  height: 26px;
  line-height: 10px;
  padding: 6px 10px 6px 18px;
}
.btn-group-arrow .btn:before {
  left: -12px;
  top: 2px;
  height: 19px;
  width: 18px;
  background: #dddddd;
}
.btn-group-arrow .btn:after {
  right: -10px;
  top: 3px;
  height: 18px;
  width: 17px;
}
.btn-group-arrow .first {
  padding-left: 12px !important;
}
.btn-group-arrow .first:before {
  display: none;
}
.btn-group-arrow .infoMsg-container {
  float: right;
  width: 100%;
  position: relative;
}
.btn-group-arrow .infoMsg-container .infoMsg {
  position: absolute;
  background: #e6f2f9;
  color: #037ac5;
  display: none;
  text-align: right;
  right: -8px;
  top: -30px;
  padding: 6px 5px 6px 10px;
  border: solid 1px #cde4f3;
  z-index: 100;
}
.btn-group-arrow .infoMsg-container .pageMsg {
  position: absolute;
  background: #fff;
  color: #333;
  display: none;
  right: -8px;
  top: -30px;
  padding: 6px 5px 6px 10px;
  border: solid 1px #037ac5;
  z-index: 100;
  min-width: 50%;
  text-align: center;
}
.btn-group-arrow .infoMsg-container .pageMsg b {
  color: #037ac5;
}
.btn-group-arrow .infoMsg-container .infoMsgSave {
  position: absolute;
  background: #ffc;
  color: #666;
  display: none;
  text-align: right;
  right: -8px;
  top: -30px;
  padding: 6px 5px 6px 10px;
  border: solid 1px #ff6;
  z-index: 100;
}
#scrollTitle {
  position: fixed;
  top: 51px;
  z-index: 200;
  background: #8095a3;
  color: #cfd7dc;
  font-size: 14px;
  width: 100%;
  margin: 0 -15px;
  padding: 3px 30px;
  display: none;
  border-bottom: solid 2px #ffffff;
}
#scrollTitle span {
  color: #ffffff;
  font-size: 20px;
}
#scrollTitle .infoMsgSave {
  position: absolute;
  background: #ffc;
  color: #666;
  display: none;
  top: 1px;
  padding: 5px 10px 4px;
  border: solid 1px #ff0;
  font-size: 14px;
  margin: 0 0 0 25px;
}
.pageBody {
  margin-top: 70px;
}
.pageFooter {
  background: #037ac5;
  padding: 0px 50px;
  color: #fff;
  font-size: 16px;
  height: 70px;
  line-height: 70px;
}
.overlay {
  background-color: #070808;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 200;
  opacity: .5;
  filter: alpha(opacity=50);
}
#MenuBackgroundPage {
  opacity: 0;
}
#leftMenu {
  position: fixed;
  top: 50px;
  width: 220px;
  z-index: 250;
}
#leftMenu #mainLogo img {
  max-width: 220px;
  max-height: 100px;
}
#leftMenu.reduced {
  width: 1px;
  text-indent: -5000px;
}
#leftMenu ul {
  display: inline-table;
  padding: 0;
  list-style: none;
  background: #666;
}
#leftMenu ul ul {
  display: none;
  top: 0;
  margin: 0 0 0 1px;
}
#leftMenu ul ul#economicsMenu {
  top: -104px;
}
#leftMenu ul ul#controlloMenu {
  top: -162px;
}
#leftMenu ul ul#annoprecMenu {
  top: -71px;
}
#leftMenu ul li > ul {
  display: inline-table;
  position: absolute;
  left: 100%;
}
#leftMenu li {
  position: relative;
  margin: 0;
  border-bottom: 1px solid transparent;
}
#leftMenu li .infoContainer {
  float: right;
  width: 40px;
  position: relative;
  z-index: 10;
}
#leftMenu li .infoContainer .infoPopup {
  color: #bfcad1;
}
#leftMenu li a {
  display: block;
  color: #9acae8;
}
#leftMenu li a.parentActive {
  color: #cc9;
}
#leftMenu li a.loadedActive {
  color: #fff;
}
#leftMenu li a.loadedActive .menuTxt:before {
  color: #ccc !important;
}
#leftMenu li a.loadedActive .menuTxt:after {
  content: '«';
  color: #ccc !important;
}
#leftMenu li a:not(.disabled):hover {
  color: #eff2f3;
}
#leftMenu li a .marker {
  position: absolute;
  z-index: 100;
  top: 1px;
  left: 1px;
  border: solid 6px transparent;
}
#leftMenu li a.hasWarning .marker {
  border-left-color: #fc6;
}
#leftMenu li a.hasErr .marker {
  border-left-color: #f55;
}
#leftMenu li a.expand {
  background: #2d4458;
}
#leftMenu li a.expand .chevrons {
  float: right;
  width: 18px;
  height: 20px;
  margin: 0 2px 0 0;
  color: #607b8c;
}
#leftMenu li a.expand:hover {
  background: #5e7381;
  font-weight: bold;
}
#leftMenu li a.expand:hover .chevrons {
  color: #a0b0ba;
}
#leftMenu li a.expand.active:not(.disabled),
#leftMenu li a.expand.active:not(.disabled) .chevrons {
  font-weight: bold;
  color: #fff;
  background: #638a9b;
}
#leftMenu li a .menuTxt {
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  padding: 0 0 0 10px;
}
#leftMenu li a .menuTxt:before {
  content: '»';
  color: transparent;
}
#leftMenu li.lev1 {
  width: 218px;
}
#leftMenu li.lev1 a {
  line-height: 50px;
}
#leftMenu li.lev1 a:not(.expand) {
  background: #3b5973;
}
#leftMenu li.lev1 a:not(.expand):hover {
  background: #5b7285;
}
#leftMenu li.lev1 a span.marker {
  height: 48px;
  border-width: 25px 6px 25px 10px;
}
#leftMenu li.lev1 a .chevrons {
  margin-top: 15px;
}
#leftMenu li.lev2,
#leftMenu li.lev3 {
  border-bottom-color: #708897;
}
#leftMenu li.lev2 a,
#leftMenu li.lev3 a {
  line-height: 34px;
  white-space: nowrap;
}
#leftMenu li.lev2 a:not(.expand),
#leftMenu li.lev3 a:not(.expand) {
  background: #446684;
}
#leftMenu li.lev2 a:not(.expand):hover,
#leftMenu li.lev3 a:not(.expand):hover {
  background: #5d778d;
}
#leftMenu li.lev2 a .menuTxt,
#leftMenu li.lev3 a .menuTxt {
  padding: 0 30px 0 20px;
}
#leftMenu li.lev2 a span.marker,
#leftMenu li.lev3 a span.marker {
  height: 32px;
  border-width: 17px 6px 17px 8px;
}
#leftMenu li.lev2 a .chevrons,
#leftMenu li.lev3 a .chevrons {
  margin-top: 7px;
}
#leftMenu li.lev3 a:not(.expand) {
  background: #4c7395;
}
#leftMenu li.lev3 a:not(.expand):hover {
  background: #68859e;
}
#leftMenu a.disabled {
  color: #999;
  background: #666666 !important;
}
#leftMenu a.disabled:not(.expand) {
  cursor: not-allowed;
}
.alertBox.info {
  background: #e1ecf3;
  border: solid 2px #81bde2;
  color: #037ac5;
  min-height: 75px;
}
.alertBox.info .svg-inline--fa {
  font-size: 50px;
  color: #3595d1;
}
.alertBox.error {
  background: #fde;
  border: solid 2px #c66;
  color: #c00;
  min-height: 75px;
  min-width: 75%;
}
.alertBox.error .svg-inline--fa {
  font-size: 50px;
  color: #c00;
}
.form-control.error {
  border: 2px solid #c00 !important;
  background: #fcc !important;
  color: #c00 !important;
}
.form-control.changed,
.form-control.warning {
  border: 2px solid #f90;
  background: #fed;
}
.itemContainer {
  margin: 0 0 20px;
}
.itemContainer a {
  float: left;
}
.initialChecked {
  color: #037ac5;
  background: #cde4f3;
  font-weight: bold;
}
option.disabled {
  color: #ccc;
  background: #ccc;
}
#N_MateriePrime,
#N_Prodotti {
  width: 5em;
  margin-left: 20px;
  align-self: center;
  padding: 5px 5px 5px 30px !important;
}
#N_MateriePrime option,
#N_Prodotti option {
  text-align: right;
  padding: 0 30px;
}
.XML_label {
  color: #037ac5;
  border-bottom: 1px solid #cde4f3;
  display: block;
  margin-left: -10px;
  padding-left: 10px;
  margin-right: -10px;
  padding-right: 10px;
}
.XML_label:not(:first-child) {
  margin-top: 30px;
}
#tab-moduloDati .collegata {
  color: #4fa2d6;
  padding: 0;
  text-align: center;
  font-size: 18px;
}
#tab-moduloDati p {
  color: #4fa2d6;
  margin: 15px 0 5px;
}
#tab-valutazione .card-body {
  border-color: #4fa2d6;
}
#tab-valutazione .card-body.changed {
  border-color: #dddddd;
  background: #eeeeee;
}
#tab-valutazione .card-body.changed .finalscore {
  color: #ccc;
}
.card-errori {
  background: #c33 !important;
}
.card-warning {
  background: #fc6 !important;
}
table.messages {
  width: 100%;
}
table.messages tr:nth-of-type(odd) {
  background: #f8fafc;
}
table.messages th {
  padding: 10px 5px;
  color: #1c87cb;
  background: #e1ecf3;
  outline: none;
}
table.messages th:focus {
  background: #d3e3ed;
}
table.messages td {
  padding: 10px 5px 0;
  vertical-align: top;
  border-bottom: 1px solid #eff2f3;
  color: #8095a3;
}
table.messages td.count {
  color: #a6c7db;
}
table.messages label {
  width: auto;
}
table.messages a {
  width: auto;
  color: #037ac5;
}
table.messages a:hover {
  color: #81bde2;
}
.btnConsole,
.btnConsole_testuali,
.btnConsole_CDG {
  margin: 40px 0 10px;
  padding: 10px;
  background: #eff2f3;
  border: solid 1px #cfd7dc;
  text-align: right;
  min-height: 56px;
}
.btnConsole a.btn.disabled,
.btnConsole_testuali a.btn.disabled,
.btnConsole_CDG a.btn.disabled {
  opacity: 1;
  color: #cfd7dc;
  background: #a0b0ba !important;
}
.btnConsole .ico-notifiche,
.btnConsole_testuali .ico-notifiche,
.btnConsole_CDG .ico-notifiche {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 0 0 10px;
}
.btnConsole .ico-notifiche.on,
.btnConsole_testuali .ico-notifiche.on,
.btnConsole_CDG .ico-notifiche.on {
  background: #fff;
}
.btnConsole .ico-notifiche.off,
.btnConsole_testuali .ico-notifiche.off,
.btnConsole_CDG .ico-notifiche.off {
  background: #999;
}
.btnConsole label.msg,
.btnConsole_testuali label.msg,
.btnConsole_CDG label.msg {
  color: #8095a3;
}
#statusInfo {
  padding: 3px 10px 0;
  color: #90a3ae !important;
}
#statusInfo .status {
  color: #3595d1;
  font-size: 20px;
  padding: 0 0 0 5px;
  font-variant: small-caps;
}
.slideThree {
  background: #e8e8e8;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideThree:after {
  content: 'No';
  color: #999;
  position: absolute;
  right: 10px;
  font-weight: bold;
}
.slideThree:before {
  content: 'Sì';
  color: #037ac5;
  position: absolute;
  left: 10px;
  font-weight: bold;
}
.slideThree label {
  color: #037ac5;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #eee;
  border-radius: 50px;
  transition: all 0.2s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.slideThree input[type=checkbox] {
  visibility: hidden;
}
.slideThree input[type=checkbox]:checked + label {
  background-color: #037ac5;
}
.slideThree.small {
  width: 70px;
  height: 19px;
}
.slideThree.small label {
  width: 30px;
  height: 13px;
}
.slideThree.small:after,
.slideThree.small:before {
  font: 12px/20.6px Arial, sans-serif;
}
.slideThree.small input:checked + label {
  left: 37px;
}
.slideThree.medium {
  width: 80px;
  height: 26px;
}
.slideThree.medium label {
  width: 35px;
  height: 20px;
}
.slideThree.medium:after,
.slideThree.medium:before {
  font: 12px/29px Arial, sans-serif;
}
.slideThree.medium input:checked + label {
  left: 42px;
}
.slider .sliderLabel {
  margin: 5px 0 0;
  text-align: center;
  font-size: 12px;
}
.slider .sliderLabel .value {
  font-size: 14px;
  color: #025b93;
  font-weight: bold;
}
.slider .sliderLabel .unit {
  font-size: 14px;
}
.slider .ui-slider-handle.ui-state-active {
  outline: none !important;
}
.slider .ui-slider-handle.ui-state-focus {
  background: #037ac5;
  color: red;
  border-color: #025b93;
  outline: #025b93 auto 5px !important;
}
.notifica {
  position: relative;
  margin: 30px 0 0;
}
.notifica.darker.border {
  padding: 20px 30px 0px !important;
  border: solid 1px #cccccc !important;
}
.notifica.border {
  padding: 20px 30px;
  border: solid 1px #dddddd;
}
.notifica h3,
.notifica h5 {
  color: #6ba1c3;
  margin: 0 0 10px;
}
.notifica p {
  text-align: justified;
  margin: 0 0 15px;
}
.notifica p span {
  color: #89b4cf;
}
.notifica .checkBtn {
  text-align: right;
}
.notifica .df-label {
  color: #68afdc;
}
.notifica #btnLeanus.disabled {
  background: #a0b0ba;
}
.notifica .leanusMsg {
  text-align: center;
  background: #dfe5e8;
  padding: 10px;
  border: solid 2px #b0bdc5;
  color: #607b8c;
}
.notifica .leanusError {
  text-align: center;
  background: #fcc;
  padding: 10px;
  border: solid 2px #f66;
  display: none;
}
.notifica .leanusError span {
  color: #c66;
}
.notifica .leanusError .svg-inline--fa {
  font-size: 50px;
  color: red;
}
.notifica .leanusOk {
  text-align: center;
  background: #cde4f3;
  padding: 10px;
  border: solid 2px #81bde2;
  color: #037ac5;
}
.notifica .leanusOk:not(.visible) {
  display: none;
}
.notifica .leanusTimeOut {
  text-align: center;
  background: #dfe5e8;
  padding: 10px;
  border: solid 2px #aaaaaa;
  display: none;
  color: #555555;
}
.notifica .leanusTimeOut a {
  color: #4fa2d6;
}
.notifica .leanusTimeOut span {
  border: solid 1px #aaaaaa;
  background: #bbbbbb;
  color: #888888;
}
.notifica #layerBlocca {
  position: absolute;
  background: #aaaaaa;
  opacity: .2;
  z-index: 100;
  display: none;
}
.notifica .annoPrec {
  padding: 10px;
  display: none;
}
.notifica .annoPrec .svg-inline--fa {
  font-size: 50px;
}
.notifica .annoPrec.apError {
  background: #fcc;
  border: solid 2px #f66;
}
.notifica .annoPrec.apError span {
  color: #c66;
}
.notifica .annoPrec.apError .svg-inline--fa {
  color: red;
}
.notifica .annoPrec .red label[for=abilitaCompila] {
  color: #c66 !important;
  cursor: pointer;
}
.notifica .annoPrec .orange label[for=abilitaCompila] {
  color: #c93 !important;
  cursor: pointer;
}
.notifica .annoPrec.apOk {
  background: #cfc;
  border: solid 2px #6f6;
}
.notifica .annoPrec.apOk span {
  color: #6c6;
}
.notifica .annoPrec.apOk .svg-inline--fa {
  color: #009900;
}
.notifica .annoPrec.apWarning {
  background: #fec;
  border: solid 2px #fc3;
}
.notifica .annoPrec.apWarning span {
  color: #fa3;
}
.notifica .annoPrec.apWarning .svg-inline--fa {
  color: #fb3;
}
.notifica .compila {
  background: #dae7f0;
  padding: 20px 0 0;
  text-align: center;
}
.btn-group-sm {
  /*cambia la posizione dei bottoni bootstrap che mostrano la posizione della pagina da absolute a sticky */
  position: -webkit-sticky !important;
  position: sticky !important;
}
.radioText.error {
  color: red;
}
.Draggable_Div {
  position: fixed;
  z-index: 9;
  background-color: #cfd7dc;
  text-align: center;
  border: 1px solid #b0bdc5;
  resize: both;
  overflow: auto;
  width: 740px;
  height: 465px;
  top: 25%;
  left: 25%;
}
.Div_Header {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #8095a3;
  color: #fff;
}
video {
  width: 700px;
  height: auto;
}
label#isExpired {
  font-weight: bold;
  color: #037ac5;
  line-height: 10px;
  padding: 10px;
  margin-left: 5px;
  border: solid 1px #32aefc;
  background: #c4dceb;
  font-size: 15px;
}
.errorMsg {
  background: #dfe5e8;
  border: 1px solid #bfcad1;
  padding: 10px 20px;
  color: #888888;
}
.errorMsg .fileName {
  font-weight: bold;
  color: #4fa2d6;
  padding: 0 0 0 20px;
}
.errorMsg .fileName:before {
  content: '»';
  color: #607b8c;
}
.includeContainer {
  margin: 0 0 10px;
}
.includeContainer.fullHtml {
  text-align: justify;
}
.includeContainer.fullHtml div {
  margin: 0 20px;
}
.includeContainer.fullHtml p {
  margin: 0 0 15px;
}
.includeContainer.fullHtml ul {
  margin: -10px 10px 15px;
}
.includeContainer.fullHtml ul li:before {
  content: "\25BA";
  color: #4fa2d6;
  margin: 0 5px;
  font-weight: bold;
  font-size: 12px;
}
.includeContainer.fullHtml ol li {
  list-style-type: decimal;
}
.includeContainer.fullHtml em {
  color: #4fa2d6;
  font-style: normal;
}
.includeContainer.fullHtml td,
.includeContainer.fullHtml th {
  padding: 0 15px;
}
.includeContainer.fullHtml tfoot {
  font-weight: bold;
}
.includeContainer.fullHtml tfoot td {
  padding-top: 5px;
}
h2.pageDescr {
  color: #6ba1c3;
  font-size: 24px;
  margin: 10px 0 15px;
  padding: 0 10px 5px;
  border-bottom: solid 1px;
}
#statusTestuali {
  padding: 0px 50px;
}
#statusTestuali h4 {
  color: #6ba1c3;
  border-bottom: solid;
  border-width: 1px;
  margin: 0 -15px;
  padding: 0 15px 2px;
}
#statusTestuali a.btn {
  text-align: left;
}
#statusTestuali .title {
  font-size: 14px;
}
#statusTestuali .title:before {
  content: "»";
  font-size: 12px;
  margin-left: -5px;
}
#statusTestuali .pctComplete {
  float: right;
  padding: 0 2px;
  border-style: solid;
  border-width: 1px;
  font-size: 12px;
  width: 40px;
  text-align: right;
  margin-right: -5px;
}
#statusTestuali .pctComplete:not(.ok) {
  color: #e6f2f9;
  background: rgba(110, 190, 255, 0.3);
  border-color: #555555;
}
#statusTestuali .pctComplete.ok {
  color: #0f0;
  background: rgba(100, 255, 100, 0.3);
  border-color: #0f0;
}
