<?xml version="1.0" encoding="utf-8"?>

<!-- Per altre informazioni sull'utilizzo della trasformazione web.config, vedere https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    Nell'esempio seguente, la trasformazione "SetAttributes" modifica il valore di 
    "connectionString" in modo da utilizzare "ReleaseSQLServer" solo quando il localizzatore "Match" 
    individua un attributo "name" con valore "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <PeopleLab xdt:Transform="Replace">
    <General>
      <setting name="FsRoot" serializeAs="String">
        <value>D:\_FileSystems\Yeap</value>
      </setting>
      <setting name="DefaultIva" serializeAs="String">
        <value>22</value>
      </setting>
      <setting name="DefaultIres" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="DefaultIrap" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="SbilancioCFNetto_WRN" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="SbilancioCFNetto_ERR" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="SbilancioCFOperativo_WRN" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="SbilancioCFOperativo_ERR" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="SbilancioCFGS_WRN" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="SbilancioCFGS_ERR" serializeAs="String">
        <value>15</value>
      </setting>
    </General>
    <DataBase>
      <setting name="Server" serializeAs="String">
        <value>SDADMIN66816049\SQLEX2017ENG</value>
      </setting>
      <setting name="Name" serializeAs="String">
        <value>Yeap</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>Yeap</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>L8kvyH6UvFNyCbvngPluTw==</value>
      </setting>
      <setting name="Timeout" serializeAs="String">
        <value>30</value>
      </setting>
    </DataBase>
    <Leanus>
      <setting name="Send" serializeAs="String">
        <value>https://www.leanuslab.com/leanuspublic/shared/soap_leanusformat.php</value>
      </setting>
      <setting name="Data" serializeAs="String">
        <value>https://www.leanuslab.com/leanuspublic/shared/soap_bilanci.php</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>RobotYeap</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>PwdYeap01</value>
      </setting>
      <setting name="Debug" serializeAs="String">
        <value>1</value>
      </setting>
    </Leanus>
  </PeopleLab>

  <!-- Yeap logger -->
  <system.diagnostics xdt:Transform="Replace">
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="Yeap_Listener"  type="Yeap.App_Code.Common.Diagnostics.YeapTraceListener, Yeap" initializeData="D:\_FileSystems\_logs\Yeap\Yeap_application.log" />
      </listeners>
    </trace>
  </system.diagnostics>


  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      
      Nell'esempio seguente, la trasformazione "Replace" sostituisce l'intera 
      sezione <customErrors> del file web.config.
      Poiché è presente un'unica sezione customErrors nel 
      nodo <system.web>, non è necessario utilizzare l'attributo "xdt:Locator".
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>