<reserved_header_section 
	templateID="502"
	templateFile="menu.html"
	templateDescription="HTML content template (homepage)">
</reserved_header_section>

<div id="leftMenu">

	<div class="row">
		<div class="col" id="mainLogo">
			<h1>Logo</h1>
		</div>
	</div>

	<div class="row">
		<div class="col">

			<ul class="menu">
				<!--<li class="disabled">-->
				<li class="qualitativa">
					<a href="/qa/modulo-qa" class="menuItemLev2" id="qualitativa" title="Analisi qualitativa">
						<span class="menuNum">1</span>
						<span class="menuNum2">.1</span>
						<span class="menuTxt">
							Analisi qualitativa
						</span>
					</a>
				</li>
				<li class="economics">
					<a href="#item" class="menuItemLev2" id="economics1" title="Economics 1">
						<span class="menuNum">2</span>
						<span class="menuNum2">.1</span>
						<span class="menuTxt">
							Economics 1
						</span>
					</a>
				</li>
				<li class="economics">
					<a href="#item" class="menuItemLev2" id="economics2" title="Economics 2">
						<span class="menuNum">2</span>
						<span class="menuNum2">.2</span>
						<span class="menuTxt">
							Economics 2
						</span>
					</a>
				</li>
				<li class="economics">
					<a href="#item" class="menuItemLev2" id="economics3" title="Economics 3">
						<span class="menuNum">2</span>
						<span class="menuNum2">.3</span>
						<span class="menuTxt">
							Economics 3
						</span>
					</a>
				</li>
				<li class="active">
					<a href="/settings/settings" class="menuItem" id="settings" title="Settings">
						<span class="menuTxt">
							Settings
							<i class="fa fa-chevron-right"></i>
						</span>
						<span class="menuIco"><i class="fa fa-cogs"></i></span>
					</a>
				</li>
				<li class="">
					<a href="#item" class="menuItem" id="esci" title="Esci">
						<span class="menuTxt">
							Esci
							<i class="fa fa-chevron-right"></i>
						</span>
						<span class="menuIco"><i class="fa fa-sign-out-alt"></i></span>
					</a>
				</li>

			</ul> 
		</div>
	</div>
	
</div>
