<reserved_header_section 
	templateID="503"
	templateFile="welcome.html"
	templateDescription="HTML content template (welcome)"
></reserved_header_section>

<widget_pageHeader />

<div class="row justify-content-center margin-t-40">
	<div class="col-12 col-md-10">
		<div class="alertBox info clearfix">
			<i class="floatLeft fa fa-info-circle"></i>
			<div class="margin-l-70 margin-t-15">

				<p class="margin-b-10 bold">
					Questa sezione (Posizionamento e definizione Piano Finanziario) comprende 7 sottomenù relativi a:
				</p>

				<ul class="margin-t-10 margin-b-40 margin-l-50">
					<li style="list-style:disc">Anagrafica</li>
					<li style="list-style:disc">Posizionamento</li>
					<li style="list-style:disc">Dati previsionali</li>
					<li style="list-style:disc">Prospetti</li>
					<li style="list-style:disc">Report</li>
					<li style="list-style:disc">Valutazione e messaggistica</li>
					<li style="list-style:disc">Controllo di gestione <i>(se acquistato)</i></li>
				</ul>

				<p class="margin-b-10 bold">
					Lo scopo delle sezioni è:
				</p>
				<ol class="margin-t-10 margin-b-0 margin-l-50">
					<li style="list-style: decimal">
						Imputare nel tool le ipotesi e le informazioni necessarie a procedere con la definizione di tutti i prospetti economico finanziari e delle analisi
						(<i>posizionamento e affidabilità economico finanziaria</i>)
					</li>
					<li style="list-style: decimal">
						Definire:<br>
						- Budget mensili,<br>
						- Verifica avanzamenti e scostamenti periodici,<br>
						- Scenari di previsioni di chiusura esercizio (<i>in caso di acquisto del Controllo di Gestione</i>)
					</li>
				</ol>

			</div>
		</div>
	</div>
</div>


<div class="container-fluid pageBody">

	<!-- *** CONSOLE *** -->
	<widget_btnConsole />

</div>